@use "../../utils/colors";

.container {
    text-align: center;
    margin-top: 40px;
}

.title {
    font-size: 30px;
    color: colors.$aquamarine;
}

.nameTitle {
    position: relative;
    right: 400px;
    font-size: 25px;
    color: colors.$aquamarine;
}

.budgetTitle {
    position: relative;
    right: 400px;
    font-size: 25px;
    color: colors.$aquamarine;
}
