@use "../../utils/colors";

.containers {
    display: flex;
    text-align: center;
}

.nameTitle {
    position: relative;
    right: 0px;
    top: -4px;
    font-size: 25px;
    color: colors.$aquamarine;
}

.budgetTitle {
    position: relative;
    right: -280px;
    top: -4px;
    font-size: 25px;
    color: colors.$aquamarine;
}

.savingsTitle {
    position: fixed;
    right: 470px;
    top: 150px;
    font-size: 25px;
    color: colors.$aquamarine;
}

.typeTitle {
    position: fixed;
    right: 190px;
    top: 150px;
    font-size: 25px;
    color: colors.$aquamarine;
}



